img{
    height: 50px;
    width: 100px;
    position: absolute;
    top: 12px;
    Right: 200px;
}
img.pritzker{
    height: 100px;
    width: 200px;
    position: absolute;
    top: -12px;
    Right: 0px;
}

table{
    border-collapse: collapse;
    width: 25%;
    text-align: left;
}

table, th, tr, td{
    border: 1px solid black;
    padding: 0.75%;
}

th{
    background-color: blueviolet;
    color: white;
}